name: Post Community Issues to Slack

on:
  issues:
    types: [opened]

jobs:
  notify-slack:
    runs-on: ubuntu-latest
    steps:
      - name: Check if author is org member
        id: check-member
        uses: actions/github-script@v8
        with:
          script: |
            const org = context.repo.owner;
            const username = context.payload.issue.user.login;

            console.log(`Checking if ${username} is a member of ${org}`);

            try {
              const response = await github.rest.orgs.checkMembershipForUser({
                org: org,
                username: username
              });
              console.log(`User ${username} is an org member (status: ${response.status})`);
              core.setOutput('is-member', 'true');
            } catch (error) {
              if (error.status === 404) {
                console.log(`User ${username} is NOT an org member`);
                core.setOutput('is-member', 'false');
              } else {
                console.log(`Error checking membership: ${error.message}`);
                // On error, assume not a member to send notification
                core.setOutput('is-member', 'false');
              }
            }

      - name: Post to Slack
        if: steps.check-member.outputs.is-member == 'false'
        uses: slackapi/slack-github-action@v2
        with:
          webhook: ${{ secrets.COMMUNITY_ISSUES_SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "New community issue opened"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: |
                    *New Community Issue Opened*
                    <${{ github.event.issue.html_url }}|${{ github.event.issue.title }}>
                    Opened by: ${{ github.event.issue.user.login }}
